<div class="left-side">
    <ul class="categories">
        <li>
            <form action="/" method="POST">
                <button type="submit" class="link-button">Home</button>
            </form>
        </li>
        <li>
            <form action="/technology" method="POST">
                <button type="submit" class="link-button">Technology</button>
            </form>
        </li>
        <li>
            <form action="/lifestyle" method="POST">
                <button type="submit" class="link-button">Lifestyle</button>
            </form>
        </li>
        <li>
            <form action="/business" method="POST">
                <button type="submit" class="link-button">Business</button>
            </form>
        </li>
        <li>
            <form action="/health" method="POST">
                <button type="submit" class="link-button">Health</button>
            </form>
        </li>
        <li>
            <form action="/entertainment" method="POST">
                <button type="submit" class="link-button">Entertainment</button>
            </form>
        </li>
        
        <li><p class="footer">FBR, Inc. © 2024. All rights reserved.</p></li>
    </ul>
</div>    



</form>