<%- include("partials/header.ejs")  %>
<body>
    <div class="main">
        <%-include ("partials/logobar.ejs")  %>

        <div class="middle" id="post-space">
            <div class="new-post-input">
                <form action="/submit-text" method="POST">
                
                <input class="large-input" type="text" id="user-input" name="userInput"  required>
                
                <button class="submit" type="submit">New Post</button>
              </form>
            </div>
            
        </div>

        <%-include ("partials/leftside.ejs")  %>
    </div>
</body>
</html>